h1{
  text-align: center;
  color: purple;
  font-size: 7=90px;
  font-style: italic;
  background-color:rgb(122, 115, 111);

  font-family:'Times New Roman', 'Times', 'serif';
  font-size: 70px;
}

.imagem {

 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 550px;
 border-color: rgb (36, 36, 109);
 border-radius: 40px;
 border-style: groove;
 border-width: 40px;

}

.contato {

  background-color:rgb(131, 132, 130);
  width: 50%;
  border-radius: 30px;
  margin: auto;
  vertical-align: top;
  display: inline-center;
  text-align: center;
  }

  .texto {

    background-color: rgb(131, 132, 130);
    width: 50%;
    border-radius: 30px;
    margin: auto;
    text-align: center;
  }